<div class="jumbotron">
<div class="container">
    <div class="row">
      @if( regForm){
        <div class="col-md-6 offset-md-3" >
           <h3>
               Registerion   
            </h3>
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" formControlName="phone">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" formControlName="age">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" formControlName="dob">
                </div>
                    <div class="form-row">
                       <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="enter email" formControlName="email">
                       </div>
                      
                        <div class="form-group col-md-6">
                         <label for="password">Password</label>
                         <input type="password" class="form-control" placeholder="enter password" formControlName="password">
                       </div>
                       <div class="form-group col-md-6">
                        <label for="address">Address 1</label>
                        <input type="text" class="form-control" placeholder="enter address" formControlName="addres1">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="address">Address 2</label>
                        <input type="text" class="form-control" placeholder="enter address" formControlName="addres2">
                      </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">city </label>
                            <input type="text" class="form-control" placeholder="enter city" formControlName="city">
                          </div>
                        <div class="form-group col-md-4">
                            <label for="state">State</label>
                            <select id="inputState" class="form-control" formControlName="state">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="zip">Zip Code</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="City"
                              formControlName="zipCode"
                            />
                          </div>
                          <div class="form-group">
                            <label for="language">Language</label>
                            <select multiple class="form-control" formControlName="language">
                              <option>Hindi</option>
                              <option>English</option>
                              <option>Telugu</option>
                              <option>Odiya</option>
                              <option>Other</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <div class="form-check form-check-inline">
                                <input
                                  type="radio"
                                  class="form-check-inline"
                                  formControlName="gender"
                                  value="male"
                              
                                />
                                <label for="male" class="form-check-inline">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  type="radio"
                                  class="form-check-inline"
                                  formControlName="gender"
                                  value="Female"
                               
                                />
                                <label for="Female" class="form-check-inline">Female</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input
                                  type="radio"
                                  class="form-check-inline"
                                  formControlName="gender"
                                  value="Others"
                                 
                                />
                                <label for="others" class="form-check-inline">Other</label>
                              </div>
    
                          </div>
                         
                          <div class="form-group">
                            <label for="somethingAboutYou">Something About You</label>
                            <textarea
                              class="form-control"
                              rows="3"
                              formControlName="aboutYou"
                            ></textarea>
                          </div>
                          <div class="form-group">
                            <label for="uploadPhoto">Upload Your Photo</label>
                            <input
                              type="file"
                              class="form-control"
                              formControlName="uploadPhoto"
                            />
                          </div>
                          <div class="form-group">
                            <input
                              type="checkbox"
                              class="form-check-inline"
                              formControlName="agreetc"
                            />
                            <label for="agreetic" class="form-check-inline"> term and condition</label>
                          </div>
                          <div class="form-group">
                            <label for="role">What do u want ?</label>
                            <select  class="form-control" formControlName="role">
                              <option value="seller">Seller</option>
                              <option value="buyer">Buyer</option>
                            </select>
                          </div>

                    </div>
                    <div class="form-group">
                    <button class="btn btn-primary mt-2">Register  </button>
                    </div>
            </form>
                        <a class="sim-pinter" routerLink="/sign-in" >
                            Already have account click here to login
                        </a>
        </div>}
       
        <div class="col-md-6 offset-md-3">
            <h3>
                Login Page
            </h3>
            <form action="" name="form" #templateForm="ngForm" (ngSubmit)="templateForm.form.valid && onSubmitSignin()" novalidate>
                <div class="form-group" >
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" name="userEmail" [(ngModel)]="signinforminput.userEmail" required email />
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" formControlName="password" name="userPassword"[(ngModel)]="signinforminput.userPassword" required password minlength="6" togglePassword="" >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Login</button>
                </div>
            </form>
            <a class="sim-pinter" routerLink="/sign-up">
                dont have account 
            </a>
        </div>
    </div>
</div>
</div>
